In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from config import api_key

In [43]:
from census import Census
from us import states

c = Census(api_key, year=2018)

* As only civilians are legel to vote, it would make sense to only pull the civilian employment data.
* The labor force is the sum of employed and unemployed persons
* Columns data to pull: 
* Income variables: 
    "income": B19013_001E, "income_per_capita": B19301_001E
* Employment variables:
    "employable civilians": B23025_003E, "employed civilians": B23025_004E, "unemployed civilians": B23025_005E
* Population variables: 
    "Total population": B01003_001E
* Poverty variables:
    "poverty people": "B17001_002E"
* Age variables:
    "median age": "B01002_001E"

In [46]:
raw_data = c.acs5.get(('NAME', 'B19013_001E', 'B19301_001E', 'B23025_003E',
                       'B23025_004E', 'B23025_005E', 'B01003_001E', "B01002_001E"), {'for':'state:*'})
df = pd.DataFrame(raw_data)
df = df.rename(columns = {'state': 'State#',
                          'NAME': 'State', 
                          'B01003_001E':'Total_population',
                          'B23025_003E':'Employable_civilians',
                          'B23025_004E':'Employed_civilians', 
                          'B23025_005E':'Unemployed_civilians', 
                          'B19013_001E':'Income',
                          'B19301_001E':'Income_per_capita',
                          "B01002_001E":'median age'
                          
    
})
df = df.sort_values('State#').reset_index(drop=True)
df

In [48]:
df

,State,Income,Income_per_capita,Employable_civilians,Employed_civilians,Unemployed_civilians,Total_population,median age,State#
0,Alabama,48486.0,26846.0,2224606.0,2076708.0,147898.0,4864680.0,38.9,01
1,Alaska,76715.0,35874.0,379219.0,351152.0,28067.0,738516.0,34.0,02
2,Arizona,56213.0,29265.0,3256192.0,3045978.0,210214.0,6946685.0,37.4,04
3,Arkansas,45726.0,25635.0,1368037.0,1292263.0,75774.0,2990671.0,37.9,05
4,California,71228.0,35021.0,19630514.0,18309012.0,1321502.0,39148760.0,36.3,06
5,Colorado,68811.0,36415.0,2978700.0,2839374.0,139326.0,5531141.0,36.6,08
6,Connecticut,76106.0,43056.0,1936354.0,1810445.0,125909.0,3581504.0,40.8,09
7,Delaware,65627.0,33989.0,479447.0,450946.0,28501.0,949495.0,40.2,10
8,District of Columbia,82604.0,53321.0,398567.0,369194.0,29373.0,684498.0,33.9,11
9,Florida,53267.0,30197.0,9876910.0,9253932.0,622978.0,20598139.0,41.9,12
10,Georgia,55679.0,29523.0,5043919.0,4721065.0,322854.0,10297484.0,36.5,13
11,Hawaii,78084.0,34035.0,709482.0,677446.0,32036.0,1422029.0,38.9,15
12,Idaho,53089.0,26772.0,806373.0,768701.0,37672.0,1687809.0,36.1,16
13,Illinois,63575.0,34463.0,6663103.0,6225964.0,437139.0,12821497.0,37.9,17
14,Indiana,54325.0,28461.0,3345383.0,3164414.0,180969.0,6637426.0,37.6,18
15,Iowa,58580.0,31085.0,1674697.0,1609481.0,65216.0,3132499.0,38.1,19
16,Kansas,57422.0,30757.0,1493698.0,1428660.0,65038.0,2908776.0,36.5,20
17,Kentucky,48392.0,26948.0,2087800.0,1959442.0,128358.0,4440204.0,38.7,21
18,Louisiana,47942.0,27027.0,2180965.0,2031115.0,149850.0,4663616.0,36.6,22
19,Maine,55425.0,31253.0,697391.0,665188.0,32203.0,1332813.0,44.6,23
20,Maryland,81868.0,40517.0,3232422.0,3051333.0,181089.0,6003435.0,38.6,24
21,Massachusetts,77378.0,41794.0,3773721.0,3570257.0,203464.0,6830193.0,39.4,25
22,Michigan,54938.0,30336.0,4919495.0,4598487.0,321008.0,9957488.0,39.7,26
23,Minnesota,68411.0,36245.0,3050676.0,2931458.0,119218.0,5527358.0,37.9,27
24,Mississippi,43567.0,23434.0,1338573.0,1228537.0,110036.0,2988762.0,37.2,28
25,Missouri,53560.0,29537.0,3044052.0,2888094.0,155958.0,6090062.0,38.5,29
26,Montana,52559.0,29765.0,529682.0,507249.0,22433.0,1041732.0,39.8,30
27,Nebraska,59116.0,31101.0,1030381.0,993836.0,36545.0,1904760.0,36.4,31
28,Nevada,57598.0,29961.0,1472351.0,1370603.0,101748.0,2922849.0,37.9,32
29,New Hampshire,74057.0,38548.0,754409.0,724017.0,30392.0,1343622.0,42.7,33
30,New Jersey,79363.0,40895.0,4675686.0,4390602.0,285084.0,8881845.0,39.8,34
31,New Mexico,48059.0,26085.0,951105.0,882735.0,68370.0,2092434.0,37.5,35
32,New York,65323.0,37470.0,10047659.0,9445023.0,602636.0,19618453.0,38.7,36
33,North Carolina,52413.0,29456.0,4978432.0,4665822.0,312610.0,10155624.0,38.6,37
34,North Dakota,63473.0,35373.0,412530.0,400841.0,11689.0,752201.0,35.1,38
35,Ohio,54533.0,30304.0,5892809.0,5549577.0,343232.0,11641879.0,39.3,39
36,Oklahoma,51424.0,27432.0,1860415.0,1761328.0,99087.0,3918137.0,36.4,40
37,Oregon,59393.0,32045.0,2058128.0,1934643.0,123485.0,4081943.0,39.2,41
38,Pennsylvania,59445.0,32889.0,6531763.0,6151998.0,379765.0,12791181.0,40.7,42
39,Rhode Island,63296.0,34619.0,562451.0,527972.0,34479.0,1056611.0,39.9,44
40,South Carolina,51015.0,27986.0,2380549.0,2227307.0,153242.0,4955925.0,39.2,45
41,South Dakota,56499.0,29801.0,459025.0,442773.0,16252.0,864289.0,36.8,46
42,Tennessee,50972.0,28511.0,3239353.0,3047809.0,191544.0,6651089.0,38.7,47
43,Texas,59570.0,30143.0,13728630.0,12985624.0,743006.0,27885195.0,34.4,48
44,Utah,68374.0,28239.0,1510998.0,1452040.0,58958.0,3045350.0,30.7,49
45,Vermont,60076.0,33238.0,342620.0,328742.0,13878.0,624977.0,42.9,50
46,Virginia,71564.0,37763.0,4336393.0,4118723.0,217670.0,8413774.0,38.1,51
47,Washington,70116.0,36888.0,3712186.0,3513856.0,198330.0,7294336.0,37.6,53
48,West Virginia,44921.0,25479.0,796365.0,742615.0,53750.0,1829054.0,42.4,54
49,Wisconsin,59209.0,32018.0,3089332.0,2964540.0,124792.0,5778394.0,39.3,55
50,Wyoming,62268.0,32295.0,304648.0,290963.0,13685.0,581836.0,37.3,56
51,Puerto Rico,20166.0,12451.0,1238450.0,1028500.0,209950.0,3386941.0,40.9,72